html,body {
    margin: 0;
    height: 100%;
}

body {
    background-color: #0D192C;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    font-family: "Outfit", sans-serif;
}

.card{
    width: 275px;
    height: 444px;
    background-color: #15263F;
    border-radius: 15px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.card-header, .card-content, .filter{
    width: 236px;
    height: 236px;
    border-radius: 8px;
}

.card-content, .filter, img{
    margin: 0;
    position: absolute;
}

.card-header{
    margin:15px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.card-content{
    background: url("../images/Rectangle Copy.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 0;
}

#eye{
    width: 45px;
    height: 45px;
    opacity: 0;
    z-index: 10;
}

.filter{
    background-color: cyan;
    opacity: 0;
    z-index: 5;
}

.card-header:hover{
    cursor: pointer;
    .filter{
        opacity: 50%;
    }

    #eye{
        opacity: 100%;
    }
}

.card-body{
    display: flex;
    margin: 0;
    flex-flow: column wrap;
    align-items: flex-start;
    width: 236px;
    height: 120px;
    gap: 15px;
}

#card-title{
    margin: 0;
    color: white;
    font-weight: 500;
}

#card-title:hover{
    color: cyan;
    cursor: pointer;
}

.card-text{
    margin: 0;
    font-size: 14px;
    color: #8BACD9;
    font-weight: 200;
}

.status{
    width: 235px;
    height: 25px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    gap: 10px;
}

.dados{
    height: 20px;
    width: 110px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

#shape{

}

#time{

}

#combined, #clock{
    margin: 0;
}

#combined, #clock{
    width: 10px;
    height: 15px;
}

#clock{
    width: 15px;
    height: 15px;
}

#text1, #text2{
    font-size: 13px;
    margin: 0;

}

#text1{
    color: cyan;
    font-weight: 500;
    margin-left:15px;
}

#text2{
    color: #8BACD9;
    font-weight: 300;
    margin-left:20px;
}